{% extends 'index.html' %}

{% block content %}
    <div class="about__brands">
        <div class="brands__info">
            <a href="{{ url_for('show_brand', brand_name='mercedes-benz') }}"><img src="static/icons/mercedes-benz.png" alt=""></a><span>Mercedes-Benz</span> известен своими роскошными и высокопроизводительными автомобилями, которые воплощают в себе лучшее немецкое инженерное искусство. Бренд предлагает широкий ассортимент,
                 от элегантных седанов до мощных внедорожников и спортивных автомобилей. Mercedes-Benz также является лидером в области автомобильных инноваций, 
                 внедряя передовые системы безопасности и гибридные технологии.
        </div>
        <div class="brands__info">
            <a href="{{ url_for('show_brand', brand_name='bmw') }}"><img src="static/icons/bmw.png" alt=""></a><span>BMW</span> славится своими автомобилями с отличной динамикой и уникальным сочетанием стиля и производительности. Бренд предлагает 
            автомобили, которые дарят удовольствие от вождения, благодаря мощным двигателям и передовым технологиям. BMW также активно развивает электромобили и гибридные модели, 
            стремясь к более экологичному будущему.
        </div>
        <div class="brands__info">
            <a href="{{ url_for('show_brand', brand_name='ford') }}"><img src="static/icons/ford.png" alt=""></a><span>Ford</span> – это бренд с богатыми традициями и глобальным присутствием, известный своими надежными и доступными автомобилями. Б
            ренд предлагает разнообразные модели, от компактных автомобилей до мощных пикапов и внедорожников. 
            Ford также активно развивает электротранспорт, предлагая модели с нулевым уровнем выбросов.
        </div>
        <div class="brands__info">
            <a href="{{ url_for('show_brand', brand_name='mazda') }}"><img src="static/icons/mazda.png" alt=""></a><span>Mazda</span> известна своим уникальным подходом к дизайну и технологиям, создавая автомобили с акцентом на удовольствие от вождения.
             В автомобилях Mazda сочетаются спортивная управляемость и экономичность, благодаря чему они популярны среди любителей динамичной езды. 
             Бренд также делает акцент на экологичности, внедряя технологии Skyactiv для повышения топливной эффективности.
        </div>
        <div class="brands__info">
            <a href="{{ url_for('show_brand', brand_name='peugeot') }}"><img src="static/icons/peugeot.png" alt=""></a><span>Peugeot</span> – это французский бренд с богатой историей, который предлагает стильные и комфортные автомобили.
             Автомобили Peugeot отличаются элегантным дизайном и современными технологиями, обеспечивая высокое качество вождения. 
             Бренд также активно работает над созданием электромобилей, стремясь к устойчивому развитию.
        </div>
    </div>
{% endblock %}